# Notebook Oficina de Python + JSON


- O formato JSON (JavaScript Object Notation) é um formato aberto usado como alternativa ao XML para a transferência de dados estruturados entre um servidor de Web e uma aplicação Web.

In [126]:
import pandas as pd
import json
import urllib.request
import folium
from geopy.geocoders import Nominatim

In [16]:
with open('MOCK_DATA.json', 'r') as f:
  data = json.load(f)
  json_str = json.dumps(data, indent = 4)

max_char = 1000

print(json_str[:max_char])

[
    {
        "id": 1,
        "first_name": "Terrance",
        "last_name": "Chasmar",
        "gender": "Male",
        "email": "tchasmar0@cbsnews.com"
    },
    {
        "id": 2,
        "first_name": "Lorenzo",
        "last_name": "Elgram",
        "gender": "Male",
        "email": "lelgram1@bravesites.com"
    },
    {
        "id": 3,
        "first_name": "Fabe",
        "last_name": "Cheesley",
        "gender": "Male",
        "email": "fcheesley2@nymag.com"
    },
    {
        "id": 4,
        "first_name": "Abigael",
        "last_name": "Robion",
        "gender": "Female",
        "email": "arobion3@xrea.com"
    },
    {
        "id": 5,
        "first_name": "Tim",
        "last_name": "Lethieulier",
        "gender": "Male",
        "email": "tlethieulier4@tripod.com"
    },
    {
        "id": 6,
        "first_name": "Dunn",
        "last_name": "Tixier",
        "gender": "Male",
        "email": "dtixier5@independent.co.uk"
    },
    {
        "id": 7,

In [28]:
df = pd.read_json ('MOCK_DATA.json')

In [29]:
df

       id first_name    last_name   gender                         email
0       1   Terrance      Chasmar     Male         tchasmar0@cbsnews.com
1       2    Lorenzo       Elgram     Male       lelgram1@bravesites.com
2       3       Fabe     Cheesley     Male          fcheesley2@nymag.com
3       4    Abigael       Robion   Female             arobion3@xrea.com
4       5        Tim  Lethieulier     Male      tlethieulier4@tripod.com
..    ...        ...          ...      ...                           ...
995   996   Adelheid      Fincken   Female  afinckenrn@deliciousdays.com
996   997   Clotilda     Dominici   Female        cdominiciro@elpais.com
997   998        Jan     Labadini     Male     jlabadinirp@123-reg.co.uk
998   999   Filberte      Saxelby     Male          fsaxelbyrq@hexun.com
999  1000   Florence        Latta  Agender            flattarr@google.nl

[1000 rows x 5 columns]

In [31]:
df.to_csv('data.csv', index=False)

## Acessando dados de uma API

In [140]:
url = "http://api.open-notify.org/iss-now.json"

In [141]:

response = urllib.request.urlopen(url) 
result = json.loads(response.read())

In [142]:
print(result)

{'timestamp': 1698523174, 'message': 'success', 'iss_position': {'longitude': '-34.6011', 'latitude': '-51.4881'}}

In [143]:
latitude = result['iss_position']['latitude']
longitude = result['iss_position']['longitude']

In [144]:
print(latitude, longitude)

-51.4881 -34.6011

In [145]:
m = folium.Map(location=[latitude, longitude], zoom_start=4)

In [146]:
folium.Marker([latitude, longitude], popup='ISS Location').add_to(m)

In [135]:
m.save('iss_location.html')